[submodule "lib/ebay_api"]
	path = lib/ebay_api
	url = git://github.com/roopeshvaddepally/python-ebay.git
[submodule "lib/requests"]
	path = lib/requests
	url = git://github.com/kennethreitz/requests.git
[submodule "lib/google_api_python_client"]
	path = lib/google_api_python_client
	url = git://github.com/google/google-api-python-client.git
[submodule "lib/httplib2"]
	path = lib/httplib2
	url = git://github.com/jcgregorio/httplib2.git
[submodule "client"]
	path = client
	url = git://github.com/sdsdsxcxc/ebay-items-client.git
