*.class
*.orig
*.pyc
*.pyo
*.rej
.hg
.externalToolBuilders
.pydevproject
.project
.idea
.log*
result*
ebay_api_credentials.ini
google_api_credentials.ini
privatekey.pem
node_modules
db_backup
dist
.tmp
.sass-cache
app/bower_components
.old