<!doctype html>
<html lang="en" ng-app="MyApp">
<head>
  <meta charset="utf-8">
  <title>eBay Items</title>

<link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
<link href="/css/bootstrap/3.0.2/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" type="text/css" href="/css/modal.css" />
<link href="/css/perfect-scrollbar.css" rel="stylesheet">


</head>
<body ng-controller='MainController' ng-init="initialize({{ "true" if user else "false" }}, {{ "true" if is_current_user_admin else "false" }})">

<span class="admin" ng-cloak>
    Hi {{ "Anonymous" if user is none else user }}!
    <a href="{{logout_url}}" class="logout" ng-show="globals.is_authenticated">logout</a>
    <a href="{{login_url}}" class="login" ng-hide="globals.is_authenticated">login</a>
</span>
<div class="container-fluid">
    <nav ng-cloak>
        <a href="#/" ng-class="navClass('home')">Home</a>
        <a href="#/settings" ng-show="globals.is_current_user_admin" ng-class="navClass('settings')">Settings</a>
        <a href="#/about" ng-class="navClass('about')">About</a>
    </nav>


    <div ng-view>
      
    </div>
</div>

<script type="text/javascript" src="/scripts/libs/jquery-1.10.2.min.js"></script>

<script src="/scripts/libs/bootstrap/3.0.2/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

<script src="/scripts/angular/1.2.3/angular.min.js"></script>
<script src="/scripts/angular/1.2.3/angular-resource.min.js"></script>
<script src="/scripts/angular/1.2.3/angular-route.js"></script>
<script src="/scripts/libs/masonry.pkgd.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/libs/ui-bootstrap-tpls-0.7.0.js"></script>

<script src="/scripts/libs/imagesloaded.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/app/app.js"></script>
<script src="/scripts/app/controllers/main-controller.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/app/controllers/settings-controller.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/app/services/app-service.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/app/services/modal-service.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/app/services/posts-service.js" type="text/javascript" charset="utf-8"></script>

<script src="/scripts/libs/jquery.mousewheel.js" ></script>
<script src="/scripts/libs/perfect-scrollbar.js" ></script>
<script src="/scripts/libs/angular-perfect-scrollbar.js" ></script>
<script src="/scripts/libs/jquery.ba-resize.js" ></script>
        
<script src="/scripts/libs/angular-masonry.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
